.wrapper__callHistory{
    max-width: 1900px;
    position: relative;
}
.table{
  position: absolute;
  right: 60px ;
  margin-top: 64px;
  text-align: left;
  border:0 solid #000;
  border-collapse: separate;
  border-spacing: 10px;

}
.table__title{
  font-size: 24px;
  color:$color-grey;
  line-height: 29px;

}
.title__date{
  color:$color-white;
  width: 149px;
  text-align: right;
}
.title__questions{
  width: 192px;
  text-align: left;

}
table, th, td {
  border: 1px solid black;
  border-bottom: 0.5px solid white;

}
.cell{
  text-align: left;
}
.table__date{
  text-align: right;

}
.table__date--item{
  text-align: right;

}
 .date--item{
   text-align: right;
}


