.header{
    display: flex;
    justify-content: space-between;
    background-color: black;

}

.header__logo{
    background-image: url(../images/logo-interacso-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
// background-image: url(../images/foto-grupo.jpg);
//    background-repeat: no-repeat;
//    background-position: center;
//    background-size: cover;