@import 'core/typography';
@import 'core/settings';

//HEADER
body {
  background-color: $color-blacK;
}
.App{
  height: 100vh;
  font-family: Favorit,'Times New Roman', Times, serif;
}

.header{
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 35px 0 35px 40px; 
}

.logo {
  height: 0;
  width: 127px;
  overflow: hidden;
  padding-top: 22px;
  background-image: url('../images/logo-interacso-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__appLogo {
  margin: 32px 40px 32px 0px; 
}
.menu__newCall {
  display: flex;
  margin: 10px 0px 18px 0;
  font-weight: bold;
  font-family: Favorit,'Times New Roman', Times, serif;
  font-size: 64px;
}
.newCall__circle {
  left: -85px; 
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 68px;
  background-color: #1D1D1D;
  border-radius: 50px;
}

.newCall__icon--img {
  height: 33px;
  width: 33px;
}

.newCall__title {
  margin: 0;
  min-width: 480px;
}

.menu__historic {
  font-size: 64px;
  font-weight: bold;
  margin: 10px 0px 18px 0;
}

.historic__title {
  margin: 0;
  color: #409FFF;
}

//main//

.form__wrapper {
  position: relative;
  margin-left: 240px;
  margin-top: 64px;
  margin-right: 240px;
}

.main{
  color: $color-white;
}

.registration__form {
  color: $color-grey;
}

.form-section {
  border: 0 none;
  margin: 0;
  padding: 0;
}

.formUp {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

// MAIN -- Menu navegación

.menu{
  display: flex;
  justify-content: space-between;
}

.label {
height: 0;
width: 0;
display: block;
overflow: hidden;
}

.main__addedBy--title{
  font-size: 32px;
}

.incoming-data__fieldsContainer{
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
}

//Style for QUien LLamó

.incoming-data__container{
  margin-top: 68px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}

.incoming-data{
  padding: 0;
}

.incoming-data__title{
  margin: 0;
  font-size: 32px;
  line-height: 40px;
}

.incoming-data__input{
  background-color: $color-blacK;
  height: 32px;
  width: 208px;
  margin-top: 32px;
  border: 0;
  border-bottom: 1px solid $color-white;
  padding: 0 0 0px 8px;
  font-size: 16px;
  color: $color-white;
}

::-webkit-input-placeholder { 
  color: $color-grey-fonts;
}


//Styles for Qué mensaje dejó

.message__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 40px;
}

.main__personRequested-title{
  font-size: 32px;
}

.call-container__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.callAction__selection--redial, .callAction__selection--call-back {
  position: absolute;
  left: -1000px;
 
  height: 45px;
  width: 65px; 
}

.call__container {
  position: relative;
}

.fake-redial-button {
  color: #9E9E9E;
  background-color: $color-blacK;
  width: 200px;
  height: 32px;
  font-size: 16px;
  line-height: 24px;
  font-family: Favorit;
  border: none;
  border-bottom: solid thin;
  outline: none;
  padding: 10px;
  display: flex;
  justify-self: flex-start;
  margin-right: 33px;
}

.fake-CallBack-button {
  color: #9E9E9E;
  background-color: $color-blacK;
  width: 200px;
  height: 32px;
  font-size: 16px;
  line-height: 24px;
  font-family: Favorit;
  border: none;
  border-bottom: solid thin;
  outline: none;
  padding: 10px; 
  display: flex;
  justify-self: flex-start;
}


.message__input {
  margin-top: 33px;
  line-height: 24px;
  background-color: $color-blacK;
  border: none;
  border-bottom: solid thin;
  font-family: Favorit;
  font-size: 16px;
  color: #9E9E9E;
  padding: 10px;
  width: 440px;
  outline: none;
  

}

.error-msg{
  color: red;
  border-top: 2px solid red;
 
}

.hidden {
  display: none;

}

.modal {
  height: 100px;
  width: 100vh;
  background-color: #409FFF;
  color: white;
}


.selectedClass {
  background-color: white;
}
.register {
  background: $color-blacK;
  color: $color-grey-fonts;
  text-transform: uppercase;
  font-size: 12px;
  width: 209px;
  height: 41px;
}