
//HEADER
body {
  background-color: black;
}
.App{
  height: 100vh;
  font-family: Favorit,'Times New Roman', Times, serif;
  margin-left: 100px;
  margin-right: 100px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 35px 0 35px 40px; 
}

.header__appLogo {
  margin: 32px 40px 32px 0px; 
}
.menu__newCall {
  margin: 10px 0px 18px 23px;
  font-weight: bold;
  font-family: Favorit,'Times New Roman', Times, serif;
  font-size: 64px;
}
.newCall__circle {
  margin-right: 23px; 
}
.newCall__title {
  margin: 0;
}
.menu__historic {
  font-size: 64px;
  font-weight: bold;
  margin: 10px 0px 18px 0;
}
.historic__title {
  margin: 0;
  color: #409FFF;
}



//main//

.main{
  color: #717171;

}

.form-section {
  border:0 none;
}

.formUp{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}

// MAIN -- Menu navegación
.menu{
  display: flex;
  justify-content: space-between;
  
}
.menu__newCall {
  display: flex;
}
.newCall__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 68px;
  background-color: #409FFF;
  border-radius: 50px;
}

.historic__title{
  
}
.newCall__icon--img {
  height: 33px;
  width: 33px;
}
.main__whoCalls{
 
}
.main__whocalls--title{
  
}
.main__employees{

}
.main__requested--employee{
  
}
.main__requested--employee-title{
  
}
.main__employees{

}