
//HEADER

.header{
  display: flex;
  justify-content: space-between;
  background-color: black;

}

.header__logo{
  
   background: red;
  // background-image: url(../images/logo-interacso.png);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

}
// MAIN -- Menu navegación
.menu{
  display: flex;
  justify-content: space-between;
}